# Unity specific
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Pp]ackages/
UserSettings/


# OS-specific
.DS_Store
Thumbs.db

# IDE specific
.vscode/
*.csproj
*.unityproj
*.sln
*.userprefs
.vs/
.vsconfig

# Other
*.swp
*.bak
*.tmp
